.vote-container {
    border: .2rem solid #ececec;
    border-radius: 8px 8px 0 0;
}
.icon-checked {
    font-size: 1.4em;
    color: Tomato;
}
.icon-arrow {
    font-size: 1.4em;
}
.inline {
    display: inline;
}